In [1]:
import numpy as np
import pandas as pd

## Gerando dados

In [2]:
# Gerando um Numpy Array
npArray = np.random.rand(100000, 5)
npArray

array([[0.28703707, 0.36647348, 0.43470663, 0.88668277, 0.65607558],
       [0.26599131, 0.55236732, 0.97234796, 0.36275395, 0.25188146],
       [0.30681816, 0.66791489, 0.15615886, 0.06470879, 0.04517953],
       ...,
       [0.98014519, 0.31483609, 0.48950408, 0.94421303, 0.7401722 ],
       [0.65831843, 0.10709411, 0.05359071, 0.99657432, 0.28366176],
       [0.62657028, 0.01732248, 0.92124441, 0.4870272 , 0.68970547]])

In [3]:
# Criando um Pandas DataFrame utilizando o array
pdDataFrame = pd.DataFrame(npArray, columns=['A', 'B', 'C', 'D', 'E'])
pdDataFrame

              A         B         C         D         E
0      0.287037  0.366473  0.434707  0.886683  0.656076
1      0.265991  0.552367  0.972348  0.362754  0.251881
2      0.306818  0.667915  0.156159  0.064709  0.045180
3      0.755877  0.185805  0.349333  0.744466  0.479056
4      0.865832  0.278780  0.670815  0.632527  0.416227
...         ...       ...       ...       ...       ...
99995  0.315608  0.664417  0.662661  0.568791  0.655811
99996  0.392873  0.605865  0.791793  0.972229  0.017072
99997  0.980145  0.314836  0.489504  0.944213  0.740172
99998  0.658318  0.107094  0.053591  0.996574  0.283662
99999  0.626570  0.017322  0.921244  0.487027  0.689705

[100000 rows x 5 columns]

## Especificando linhas

In [8]:
pdDataFrame[-5:]

              A         B         C         D         E
99995  0.315608  0.664417  0.662661  0.568791  0.655811
99996  0.392873  0.605865  0.791793  0.972229  0.017072
99997  0.980145  0.314836  0.489504  0.944213  0.740172
99998  0.658318  0.107094  0.053591  0.996574  0.283662
99999  0.626570  0.017322  0.921244  0.487027  0.689705

## Visualizando os primeiros

In [14]:
# Visualizando as primeiras linhas utilizando head
pdDataFrame.head(5)

          A         B         C         D         E
0  0.287037  0.366473  0.434707  0.886683  0.656076
1  0.265991  0.552367  0.972348  0.362754  0.251881
2  0.306818  0.667915  0.156159  0.064709  0.045180
3  0.755877  0.185805  0.349333  0.744466  0.479056
4  0.865832  0.278780  0.670815  0.632527  0.416227

In [15]:
# Visualizando as primeiras linhas utilizando []
pdDataFrame[:5]

          A         B         C         D         E
0  0.287037  0.366473  0.434707  0.886683  0.656076
1  0.265991  0.552367  0.972348  0.362754  0.251881
2  0.306818  0.667915  0.156159  0.064709  0.045180
3  0.755877  0.185805  0.349333  0.744466  0.479056
4  0.865832  0.278780  0.670815  0.632527  0.416227

## Visualizando os últimos

In [16]:
# Visualizando as últimas linhas utilizando tail
pdDataFrame.tail(5)

              A         B         C         D         E
99995  0.315608  0.664417  0.662661  0.568791  0.655811
99996  0.392873  0.605865  0.791793  0.972229  0.017072
99997  0.980145  0.314836  0.489504  0.944213  0.740172
99998  0.658318  0.107094  0.053591  0.996574  0.283662
99999  0.626570  0.017322  0.921244  0.487027  0.689705

In [17]:
# Visualizando as últimas linhas utilizando []
pdDataFrame[-5:]

              A         B         C         D         E
99995  0.315608  0.664417  0.662661  0.568791  0.655811
99996  0.392873  0.605865  0.791793  0.972229  0.017072
99997  0.980145  0.314836  0.489504  0.944213  0.740172
99998  0.658318  0.107094  0.053591  0.996574  0.283662
99999  0.626570  0.017322  0.921244  0.487027  0.689705

## Aplicações

In [20]:
# Visualizar após ordenações
pdDataFrame.sort_values(['A']).head()

              A         B         C         D         E
82305  0.000004  0.534025  0.731193  0.392788  0.308051
44472  0.000022  0.069392  0.869900  0.355670  0.090449
86719  0.000032  0.342880  0.537131  0.394265  0.312759
55372  0.000080  0.014137  0.252830  0.100531  0.980529
8909   0.000081  0.574978  0.968486  0.022303  0.799871

In [24]:
# Visualizar após ordenações
pdDataFrame.sort_values(['A'], ascending=False)[-5:]

              A         B         C         D         E
8909   0.000081  0.574978  0.968486  0.022303  0.799871
55372  0.000080  0.014137  0.252830  0.100531  0.980529
86719  0.000032  0.342880  0.537131  0.394265  0.312759
44472  0.000022  0.069392  0.869900  0.355670  0.090449
82305  0.000004  0.534025  0.731193  0.392788  0.308051